.base-panel {
    display: flex;
}

 .content-panel {
    box-sizing: border-box;
    width: 80%;
    padding-left: 10px;
}

/* タブメニュー */
.tab-panel {
    width: 20%;
    font-size: 18px;
    box-sizing: border-box;
}

.tab-panel > div {
    position: sticky;
    top: 15%;
    text-align: center;
}

.tab-panel div .menu-title {
    margin: 0;
    border-bottom: 2px solid var(--color-black);
}

.tab-panel ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.tab-panel li {
    padding: 0;
    margin: 0;
}

.tab-panel li a{
    width: 100%;
    margin: 0;
    text-decoration: none;
    font-size: 20px;
    color: var(--theme-color-navy);
}
.tab-panel ul > li:hover > a{
    border-bottom: 1.5px solid var(--theme-color-navy);
}

/* 選択タブ */
.selected-tab {
    font-weight: bold;
    border-bottom: 1.5px solid var(--theme-color-navy) !important;
}

.tab-content01 {
    background-color: #e6ffe9;
    display: none;
}

.tab-content02 {
    background-color: #ffffee;
    display: none;
}

.tab-content03 {
    background-color: #eeffff;
    display: none;
}

.tab-content04 {
     background-color: #ffeeff;
     display: none;
}

/* 表示コンテンツ */
.selected-content {
    display: block !important;
}
