.label {
    border: solid 1px var(--black-alternative);
    background-color:#ffc0cb;
}

.note {
    font-size: 0.9em;
    text-indent: 2em;
    border-top: solid 1px var(--black-alternative);
}

/*画像のデフォルトスタイル*/
img {
    width: 100px;
    height: 100px;
    margin: 1px;
    vertical-align: middle;
}
