.base-panel {
    font-size: 1.6rem;
}

 .content-panel {
    box-sizing: border-box;
    width: 100%;
    font-size: 1.8rem;
    padding-left: 10px;
}

/* タブメニュー */
.menu-title {
    text-align: center;
    margin: 0;
    margin-top: 5px;
    font-size: 2.4rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--theme-color-orange);
}

.tab-panel {
    width: 20%;
    font-size: 2.0rem;
    box-sizing: border-box;
}

.tab-panel > div {
    position: sticky;
    top: 15%;
    text-align: center;
}

.tab-panel div .menu-title {
    margin: 0;
}

.tab-panel ul {
    padding: 0;
    margin: 0;
    text-align:center;
    list-style-type: none;
}

.tab-panel li {
    padding: 0;
    margin: 0;
}

#tab_panel{
  display: none;
}

.tab-panel li a{
    width: 100%;
    padding: 15px 0;
    margin: 0;
    display: block;
    border-bottom: 1px solid var(--white-alternative);
    background-color: var(--theme-color-navy);
    text-decoration: none;
    color: var(--white-alternative);
    font-size: 2.0rem;
}
.tab-panel ul > li:hover > a{
    color: var(--black-alternative);
    background-color: var(--white-alternative);
}
