.base-panel {
    font-size: 1.6rem;
}

.topic-list-panel {
    font-size: 1.4rem;
}

.topic-list-panel p {
    padding-left: 1em;
    text-indent: -1em;
}

.content-panel {
    box-sizing: border-box;
    padding: 10px;
}

.content-panel > div > h3 {
    text-align: left;
    text-decoration: underline;
    margin-top: 0;
}

.content-panel > div {
    margin: 10px 0;
    background-color: var(--white-alternative);
}

.label {
    text-align: center;
    margin: 5px 0 0;
    font-size: 1.8rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--theme-color-orange);
}
