.base-panel {
    display: flex;
}
.topic-list-panel {
   text-indent: -1em;
   font-size: 0.85em;
   box-sizing: border-box;
   width: 30%;
   padding-left: 5px;
}

.content-panel {
    box-sizing: border-box;
    width: 70%;
    padding: 10px;
}


.content-panel > div > h3 {
    text-align: left;
    text-decoration: underline;
    margin-top: 0;
}

.content-panel > div {
    margin: 10px 0;
    background-color: var(--white-alternative);
}

.content-panel .anchor {
    display: block;
    margin-top: calc(-1 * var(--header-height-full));
    padding-top: var(--header-height-full);
}


/* Page Topボタン */
#page-top-button {
    position: fixed;
    bottom: 10px;
    right: 30%;
    width: 100px;
    height: 50px;
    background-color: var(--theme-color-navy);
    border-radius: 10px;
    opacity: 0.3;
}

#page-top-button a {
  display: flex;
  z-index: 999;
  width: 100px;
  height: 50px;
  color: var(--white-alternative);
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#page-top-button:hover {
  opacity: 0.8;
}
